@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Poppins:ital,wght@0,500;1,400&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(45deg, #625fff, rgb(118, 19, 133), #00977e);
    background-size: 400% 400%;
    animation: gradientAnimation 25s infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 400px;
    position: relative;
    background: whitesmoke;
    padding: 60px 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(241, 240, 240, 0.955);
}


h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: black;
}

#form button {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: linear-gradient(to right,rgb(217, 152, 226), #78cfc1, #807ed3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 75%;
    margin: 20px 0px;
    padding: 10px;
    background-size: 200% 100%;
    animation: buttonAnimation 10s infinite;
}

@keyframes  buttonAnimation{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#form button:hover{
    background: linear-gradient(to right,rgb(179, 129, 186), #6dccbc, #706ed1);
    animation: hoverAnimation 2s infinite;
}
@keyframes hoverAnimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
}

.input-group input {
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid silver;
    padding-left: 15px;
    outline: none;
    transition: background-color 0.4s, color 0.4s;
}

.input-group input:focus{
    border: 1px solid blue;
}

.input-group:focus-within label {
    /*top: 5px;*/
    /*font-size: 14px;*/
    /*color: blue;*/
    background-color: white;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    color: grey;
    font-size: 18px;
    transition: 0.3s;
}

.input-group span.show{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: #111;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    visibility: hidden;
}

.input-group span.visible{
    visibility: visible;
}

.input-group .error {
    color: black;
    font-size: 16px;
    margin-top: 5px;
}

.input-group.success input {
    border-color: gold;
}

.input-group.error input {
    border-color: green;
}

.input-group label.moved {
    transform: translateY(-32px);
    font-size: 14px;
    color: blue;
    background: white;
}

.input-group input.color-change{
    border-color: blue;
}